.preloader {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/6e/8b/47/6e8b479a2c76dbe51c6f92c81d9e9f8f.gif");
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    z-index: 9999;
  }
  
